@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --btn-color: #FF6064;
    --btn-login-on-hover: #DDDDDD;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#arrow-left{
    background: white;
    cursor: pointer;
    border: none;
}

svg path{
    transition: fill 0.2s ease-in-out;
}

#arrow-left:hover svg path{
    fill: var(--btn-color);
}

#arrow-left-box{
    position: absolute;
    margin-top: 5vw;
    margin-left: 10vw;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7vh;
}

h1{
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 5vh;
}

#content button{
    width: 336px;
    height: 45px;
    border: none;
    background-color: var(--btn-color);
    border-radius: 50px;
    color: white;
}

#buttons{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

#buttons button{
    border: 1px solid black;
    border-radius: 50px;
    background-color: white ;
    color: black;
    width: 270px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

#buttons button:hover{
    background-color: var(--btn-login-on-hover);
}

#login-btn{
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

#login-btn:hover{
    /* shadowbox */
    box-shadow: 0 5px 8px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 5px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 5px 8px -1px rgba(0,0,0,0.75);
}

#button-img{
    width: 21px;
}

a{
    text-decoration: none;
    color: var(--btn-color);
    cursor: pointer;
}