@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --btn-color: #FF6064;
    --marker-color: #D9D9D9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#arrow-svg{
    width: 39px;
}

#arrow-left{
    background: none;
    cursor: pointer;
    border: none;
}

svg path{
    transition: fill 0.2s ease-in-out;
}

#arrow-left:hover svg path{
    fill: var(--btn-color);
}

#arrow-left-box{
    position: absolute;
    margin-top: 5vw;
    margin-left: 10vw;
}

#img1{
    width: 90%;
    margin-bottom: 7vh;
}

span{
    font-size: larger;
}

#content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 4vh;
}

#markers{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 127px;
}

#markers button{
    border: none;
    background-color: var(--marker-color);
    border-radius: 50px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

#markers #selected{
    border: none;
    background-color: var(--btn-color);
    border-radius: 10px;
    width: 45px;
    height: 20px;
}

#next{
    width: 336px;
    height: 45px;
    border: none;
    background-color: var(--btn-color);
    color: white;
    border-radius: 25px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

#next:hover{
    /* shadowbox */
    box-shadow: 0 5px 8px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 5px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 5px 8px -1px rgba(0,0,0,0.75);
}

@media (max-width: 375px) {
    #img1{
        width: 75%;
    }

    span{
        font-size: xx-large;
        font-weight: 700;
        width: 80%;
        text-align: center;
    }

    #arrow-left-box{
        margin-top: 4vh;
    }

    #markers{
        width: 90px;
    }

    #markers button{
        width: 20px;
        height: 20px;
    }

    #markers #selected{
        width: 30px;
        height: 15px;
    }

    #next{
        width: 300px;
    }
}

@media (min-width: 376px) and (max-width: 768px){

    #img1{
        width: 75%;
    }

    span{
        font-size: xx-large;
        width: 80%;
        font-weight: 700;
        text-align: center;
    }

    #arrow-left-box{
        margin-top: 6vh;
    }

    #markers{
        width: 90px;
    }

    #markers button{
        width: 20px;
        height: 20px;
    }

    #markers #selected{
        width: 30px;
        height: 15px;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    span{
        font-size: x-large;
    }

    #img1{
        width: 70%;
    }

    #markers{
        width: 110px;
    }

    #markers button{
        width: 23px;
        height: 23px;
    }

    #markers #selected{
        width: 34px;
        height: 16px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px){
    #img1{
        width: 70%;
    }
    
    #arrow-left-box{
        margin-top: 6vh;
    }
    
    span{
        font-size: x-large;
    }
}