:root {
    --bg-color: #FF6064;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 612px;
}

#logo-pomo {
    width: 300px;
}

#loading {
    width: 90px;
}

@media (max-width: 375px) {
    #logo-pomo {
        width: 180px;
    }
    
    #loading {
        width: 60px;
    }

    section{
        margin-top: 8vh;
        justify-content: space-around;
    }
}

@media (min-width: 376px) and (max-width: 768px){
    #loading {
        width: 60px;
    }

    #logo-pomo {
        width: 270px;
        margin-top: 15vh;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    #loading {
        margin-top: 20vh;
        width: 60px;
    }

    #logo-pomo {
        margin-top: 10vh;
        width: 350px;
    }

    section{
        justify-content: space-evenly;
    }
}
@media (min-width: 1026px) and (max-width: 1440px){
    #loading {
        margin-top: 20vh;
        width: 60px;
    }

    #logo-pomo {
        margin-top: 10vh;
        width: 350px;
    }

    section{
        justify-content: space-evenly;
    }
}